
worker_processes  1;

error_log  logs/error.log  info;

pid        /var/run/nginx.pid;

events {
    worker_connections  1024;
}

http {
    proxy_redirect              off;
    proxy_set_header            Host            $http_host;
    proxy_set_header            X-Real-IP       $remote_addr;
    proxy_set_header            X-Forwared-For  $proxy_add_x_forwarded_for;
    proxy_connect_timeout 60s;

    map $http_upgrade $connection_upgrade {
        default upgrade;
        '' close;
    }

    upstream junaid {
        server 127.0.0.1:3000;
    }

    include       mime.types;
    default_type  application/octet-stream;

    sendfile        on;

    keepalive_timeout  65;

    more_set_headers 'Access-Control-Allow-Origin: *';
    more_set_headers "Content-Type: $upstream_http_content_type";

    server {
        listen       80;
        server_name  localhost;

        location / {
            return 301 https://junaid.evercam.io$request_uri;
        }
    }

    server {
        listen       443 ssl;
        server_name  localhost;

        ssl on;
        ssl_certificate      /etc/ssl/extractor_evercam_io.pem;
        ssl_certificate_key  /etc/ssl/extractor_evercam_io.key;

        ssl_session_cache shared:SSL:50m;
        ssl_session_timeout  5m;

        ssl_ciphers "EECDH+ECDSA+AESGCM EECDH+aRSA+AESGCM EECDH+ECDSA+SHA384 EECDH+ECDSA+SHA256 EECDH+aRSA+SHA384 EECDH+aRSA+SHA256 EECDH+aRSA+RC4 EECDH RSA+AESGCM RSA+AES !RC4 !aNULL !eNULL !LOW !3DES !MD5 !EXP !PSK !SRP !DSS";
        ssl_prefer_server_ciphers  on;
        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;

        location / {
            proxy_pass http://junaid;
            proxy_connect_timeout 60s;
        }
    }
}
